export default {
  // Config options documentation: https://cli.observablehq.com/config
  title: "{{ projectTitle }}",
  // If deploying your project to Observable Cloud, you'll need a deploy property. E.g.,
  // deploy: {
  //   workspace: "my-observablehq-workspace",
  //   project: "my-project-slug"
  // },
  pages: [
    {
      name: "Examples",
      pages: [
        {name: "Report", path: "/example-report"},
        {name: "Dashboard", path: "/example-dashboard"},
      ]
    }
  ],
  root: "docs", // path to the source root for preview
  output: "dist", // path to the output root for build
  // theme: ["dark", "light"], // themes (the default, indicated here, uses light or dark mode depending on the user's system settings)
  // style: "docs/style.css", // path (relative to the root) to a custom stylesheet
  // pager: true, // previous & next footer links
  // footer: "", // HTML fragment or string to add to the footer
  // toc: true, // table of contents configuration
};
