{
  "name": "{{ projectName }}",
  "type": "module",
  "private": true,
  "scripts": {
    "dev": "observable preview",
    "build": "rm -rf dist && observable build",
    "clean": "rm -rf docs/.observablehq/cache"
  },
  "dependencies": {
    "@observablehq/cli": "https://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@github.com/observablehq/cli#main"
  }
}
