{
  "name": "{{ projectName }}",
  "type": "module",
  "private": true,
  "scripts": {
    "dev": "observable preview",
    "build": "rm -rf dist && observable build"
  },
  "dependencies": {
    "@observablehq/cli": "github:observablehq/cli"
  }
}
