# {{projectTitle}}

This is the home page of your project `{{projectTitle}}`, built using the Observable CLI.

The Observable CLI is an open-source static site generator for business intelligence dashboards, reports, and data apps.

# Getting started
See the [Command Line Interface](https://cli.observablehq.com/) Documentation.

To update these pages edit files in

```
/docs
```

View the [dashboard page](/example-dashboard) for an example to quickly get started. It includes: 
- loading data via a [data loader](https://cli.observablehq.com/loaders)
- visualizing the data using [Observable Plot](https://cli.observablehq.com/lib/plot)

View the [report page](/example-report) for an example of a report. It is more text-heavy and includes a table of contents.

# Inspiration
See these CLI example projects for guidance and inspiration:
- [Plot](https://cli-examples.observablehq.com/plot/)
- [Primary Mortgage Market Survey](https://cli-examples.observablehq.com/pmms/)
