# {{projectTitle}}

To update these pages edit files in

```
/docs
```

See the [Command Line Interface](https://cli.observablehq.com/) documentation and [example projects](https://cli-examples.observablehq.com/) for guidance and inspiration.

