# {{projectTitle}}

Edit files and **/docs** to see these pages automatically update.  See the [Command Line Interface documentation](https://cli.observablehq.com/) and [https://cli-exapmles.observablehq.com/](example projects) for guidance and inspiration.
