  /Users/trebor/Development/create/template/docs:
  drwxr-xr-x  4 trebor  staff  128 Jan  3 12:46 .
  drwxr-xr-x  6 trebor  staff  192 Jan  3 11:48 ..
  drwxr-xr-x@ 3 trebor  staff   96 Jan  3 12:48 components
  -rw-r--r--  1 trebor  staff   76 Jan  3 11:48 index.md.tmpl
